
/* global form buttons action */
.glob-fct .glob-btn:before {
	content: attr(show_txt);
}
.glob-fct.fm-opened .glob-btn:before {
	content: attr(hide_txt);
}

/* hidden */
*:not(.fm-opened) > .postarea, .popup .doubledash
{
	display: none!important;
}

/* post previews */
.popup
{
	border: none!important;
}

/* refmap list and links */
.ha-refmap-list {
	font-size: small;
	padding: 5px 0;
}
.reply > .hana-refmap-list {
	padding-left: 20px;
}
