
/* global form buttons action */
.glob-fct .glob-btn:before {
	content: attr(show_txt);
}
.glob-fct.fm-opened .glob-btn:before {
	content: attr(hide_txt);
}

/* hidden */
*:not(.fm-opened) > .postarea, .popup .doubledash
{
	display: none!important;
}

.popup
{
	border: none!important;
}

.reply > .hana-refmap-list {
	padding-left: 20px;
}
