.rl-inf {
	float: left;
	visibility: hidden;
}
.reply-link:not([hidden]) ~ .rl-inf {
	visibility: visible;
}
.popup {
	background-color: white;
	border: 1px solid;
	position: absolute;
	padding: 10px;
}

.thread {
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
}
.post {
	padding-bottom: 1em;
}
.post > div {
	padding: 14px 12px 0;
}
.replypost {
	border-top: 1px solid;
}
.replydate,.reflink {
	text-align: right;
}
.replytitle {
	text-align: center;
}
.abbrev,.fileinfo {
	font-size: 80%;
}
.abbrev a,.reflink a {
	text-decoration: none;
}
.pure-img {
	margin: auto;
}
.artwork {
	background: url(/src/svg/1505/ma-artwork.svg)no-repeat scroll center center / 100% auto;
}
.quote {
	line-height: 1.4;
}
.qt-1 {
	color: #3c0;
}
.qt-1:before {
	content: "› ";
}
.qt-2 {
	color: #390;
}
.qt-2:before {
	content: "› › ";
}
.qt-3 {
	color: #360;
}
.qt-3:before {
	content: "› › › ";
}
.spoiler, .spoiler a {
	color: transparent;
	transition: all .1s ease;
	box-shadow: 0 1px 2px -1px rgba(0,0,0,.7);
}
.spoiler:hover,.spoiler a:hover {
	color: inherit;
	box-shadow: none;
}
.ma-controls {
	position: absolute;
	border: 2px solid #ddd;
	border-radius: 100%;
	background-color: #333;
	opacity: .8
}
.ma-controls,.ma-controls a {
	display: block;
	width: 50px;
	height: 50px;
}
.ma-play {
	background: url(/src/svg/1505/ma-play.svg)no-repeat scroll center;
}
.ma-pause {
	background: url(/src/svg/1505/ma-pause.svg)no-repeat scroll center;
}
.appearblock {
	position: absolute;
}
